<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  <span>Hello, {{name}}</span>

  <br/>

  <span>Forgot your password? Reset it below:
    <a href={{link}}>{{link}}</a>
  </span>

  <span>Didn't ask for a new password? You can ignore this email.</span>
  
  
  <h3><strong>RentalX</strong> Team</h3>
</div>